@import "standard.scss";

header{
    background: $grey;
    position: relative;
  
  nav{
    @include center();
    justify-content: space-between;
    padding: 0 30px;
    height: 10vh;

    ul{
      @include center();
      justify-content: space-around;
      width: 35%;
      transition: all 0.5s ease-in-out;


      li {
        text-align: center;
        width: 70%;
        margin-left: 20px;
        padding: 10px 20px;
        border: none;
        border-radius: 10px; 
        color:black;
        transition: background-position 1s ease; 
        background-image: linear-gradient(to top, transparent 50%, $more-dark-grey 50%);
        background-size: 100% 200%;
        background-position: left bottom;
        font-size: 1.5rem;
        transition: all 1s ease-in-out;

        &:hover {
          background-position: right top;
          color:$white;
          transition: all 0.5s ease-in-out;
          cursor: pointer;
        }

        //! Flex UL para teblets
        @media  (max-width: 1100px) {
          transform: translateX(100vw);
          background: $grey;
          margin-left: 0px;
        }
        
      }

      .button-list{
        display: none;
      }

      //! Flex UL para teblets
      @media  (max-width: 1100px) {
        background: $grey;

        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        top: 10vh;
        left: 100%;
        height: 90vh;

        width: 50%;
        box-shadow: -26px 10px 15px -3px rgba(0,0,0,0.1);
        z-index: 10;

        .button-list{
          display: block;

          a{
            text-align: center;
            width: 200px;
            padding: 10px 20px;
            border: 3px solid $more-dark-grey;
            color:black;
            transition: background-position 1s ease; 
            background-image: linear-gradient(to left, $grey 50%, $more-dark-grey 50%);
            background-size: 200% 100%;
            background-position: right bottom;
            font-size: 1.5rem;
            transition: all 1s ease-in-out;
      
            &:hover {
              background-position: left bottom;
              color:$white;
              transition: all 0.5s ease-in-out;
              cursor: pointer;
            }
          }
        }
      }
    }

    ul.active{
      transition: all 0.5s ease-in-out;
      left: 50%;


      li {
        transform: translateX(100px);
        opacity: 0;
        animation: fadeIn 0.5s forwards;
      }

      li:nth-child(1) {
        animation-delay: 0.2s;
      }

      li:nth-child(2) {
        animation-delay: 0.4s;
      }

      li:nth-child(3) {
        animation-delay: 0.6s;
      }

      li:nth-child(4) {
        animation-delay: 0.8s;
      }

      li:nth-child(5) {
        animation-delay: 1s;
      }

      @keyframes fadeIn {
        to {
          transform: translateX(0px);
          opacity: 1;
        }
      }

    }

    button{
      text-align: center;
      width: 200px;
      padding: 10px 20px;
      border: 3px solid $more-dark-grey;
      color:black;
      transition: background-position 1s ease; 
      background-image: linear-gradient(to left, $grey 50%, $more-dark-grey 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      font-size: 1.5rem;
      transition: all 1s ease-in-out;

      &:hover {
        background-position: left bottom;
        color:$white;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
      }
    }

    //! Flex NAV para teblets
    @media (max-width: 1100px) {

      .button-nav{
        display: none;
      }
    }
  }


  //? Animação do hamburger
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: relative;

    //! Flex HAMBURGUER para teblets
    @media (max-width: 1100px) {
      display: block;
    }
  }

  .hamburger .bar {
      width: 80px;
      height: 5px;
      background-color: black;
      transform-origin: center;
      margin: 10px 0;
      background-color: $more-dark-grey;
      transition: all 1s;
      border-radius: 10px;
      box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);

      //! Flex .BAR para celulares
      @media (max-width: 480px) {
        width: 50px;
      }
  }

  @keyframes bar1Animation {
      0% {
      }

      50%{
          transform: translateY(15px);
      }
      100% {
          transform: translateY(15px) rotate(45deg);
      }
  }

  @keyframes bar2Animation {
      0% {

      }
      50%{
          transform: scale(0.7);
      }
      100% {
          opacity: 0;
      }
  }

  @keyframes bar3Animation {
      0% {

      }
      50%{
          transform: translateY(-15px) rotate(0deg);

      }
      100% {
          transform: translateY(-15px) rotate(130deg);
      }
  }

  @keyframes bar1Animation-rev {
      0% {
      }

      50%{
          transform: translateY(15px);
      }
      100% {
          transform: translateY(15px) rotate(45deg);
      }
  }

  @keyframes bar2Animation-rev {
      0% {

      }
      50%{
          transform: scale(0.7);
          opacity: 0;
      }
      100% {
          transform: scale(0.7);
          opacity: 0;
      }
  }

  @keyframes bar3Animation-rev {
      0% {

      }
      50%{
          transform: translateY(-15px) rotate(0deg);

      }
      100% {
          transform: translateY(-15px) rotate(130deg);
      }
  }

  .bar1{
      animation: bar1Animation-rev 1s reverse forwards;
  }

  .bar2 {
      animation: bar2Animation-rev 1s reverse forwards;
  }

  .bar3 {
      animation: bar3Animation-rev 1s reverse forwards;
  }

  .active .bar1 {
      animation: bar1Animation 1s forwards;
  }

  .active .bar2 {
      animation: bar2Animation 1s forwards;
  }

  .active .bar3 {
      animation: bar3Animation 1s forwards;
  }

}

  