@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

$white: #FFF;
$lighter-grey: #c6c6c6;
$light-grey: #aaaaaa;
$grey: #828282;
$dark-grey: #807e7e;
$darker-grey: #5e5e5e;
$black: #000;

$font1: 'DM Serif Text', serif;
$font2: 'Open Sans', Helvetica, sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: $font2;
}

body{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    max-width: 1400px;
    background-color: $light-grey;
    overflow-x: hidden;
}

@mixin center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin blackButton{
    margin-left: 20%;
    padding: 10px 30px;
    font-size: 1.2rem;
    border: none;
    background: $black;
    color: $white
}

@mixin whiteButton{
    transform: translate(-50%, -50%);
    position: absolute;
    top: 90%;
    left: 50%;

    padding: 3% 30%;
}

@mixin trasnButton{
    padding: 5px 30px;
    font-size: 1.2rem;
    font-weight: 600;
    border: 3px solid $darker-grey;
    color: $darker-grey;
    background: transparent;
}