@import "_standard.scss";
@import "_navbar.scss";

body{
  overflow-x: hidden
}

main{
  @include center();
  flex-direction: column;
  background: $grey;
  width: 100vw;
  gap: 50px;
}

.container-home{
  @include center();
  justify-content: space-around;
  width: 90vw;
  height: 90vh;

  .cont{
    display: flex;
    flex-direction: column;
    gap: 40px;
    // border: 2px solid blue;
    width: 45%;

    h1{
      font-size: 4.5rem;
      font-family: $font1;
      width: 100%;
    }

    p{
      width: 80%;
      font-size: 1.5rem;
      text-align: justify;
    }

    button{
      background: $black;
      color: $white;
      font-size: 1.3rem;
      padding: 10px 15px;
      max-width: 200px;
    }
  }

  .img-home{
    @include center();
    width: 700px;
    height: 800px;
    background-color: $more-grey;
    border-radius: 10px 10px 10px 20%;

    img{
      width: 100%;
      max-width: 545px;
      max-height: 514px;
    }
  }

  //! Flex para tablets
  @media (min-width: 770px) and (max-width: 1100px) {
    .cont{
      width: 50%;

      h1{
        font-size: 3rem;
      }
  
      p{
        width: 80%;
        font-size: 1.3rem;
      }
    }

    .img-home{
      width: 50%;
      height: 50%;
    }
  }

  //! Flex para celulares
  @media (max-width: 769px) {
    flex-direction: column;

    .cont{
      width: 90%;
      align-items: center;

      h1{
        width: 80%;
        font-size: 2rem;
      }
  
      p{
        width: 80%;
        font-size: 1rem;
      }

      button{
        margin-left: 10%;
        align-self: flex-start;
      }
    }

    .img-home{
      width: 80%;
      height: 40%;
      max-height: 30%;
      border-radius: 10px;

      img{
        width: 70%;
        max-width: 50%;
        max-height: 70%;
      }
    }
  }
}

#collection{
  @include center();
  height: 100vh;
  width: 100vw;
  background: $white;

  .collection-container{
    @include center();
    flex-direction: column;
    gap: 20px;

    h1{
      font-family: $font1;
      font-size: 3rem;
    }

    p{
      font-size: 1.1rem;
    }

    .pictures{
      @include center();
      width: 100%;
      gap: 20px;
  
      .pic{
        @include center();
        width: 400px;
        height: 300px;
        background: $grey;
  
        button{
          padding: 10px 15px;
          width: 80%;
          align-self: self-end;
          background: $white;
          margin-bottom: 5%;
          border: none;
          font-weight: 600;
        }

        &:hover{
          transform: translateY(-5px) scale(1.02);
        }
      }
    }

    .best{
      margin-top: 5vh;
      position: relative;
      @include center();
      gap: 30px;
      width: 100%;

      .pic-best{
        width: 400px;
        height: 500px;
        border-radius: 30% 0 0 0;
        background: $grey;
      }

      .text-best{
        align-self: self-start;
        height: 400px;

        h1{
          font-family: $font1;
          font-size: 4rem;
          width: 500px;
        }

        p{
          margin-top: 30px;
          width: 500px;
        }

        .follow{
          display: flex;
          justify-content: space-between;
          position: absolute;
          left: 40%;
          top: 85%;
          height: 100px;
          width: 600px;

          .follow-square{
            @include center();
            text-align: center;
            width: 200px;
            height: 100px;
            background: $more-dark-grey-trans;

            p{
              margin-top: 0;
              font-size: 1.3rem;
              font-family: $font1;
              font-weight: 600;
            }
          }
        }
      }
    }

    //! Flex para tablets
    @media (min-width: 770px) and (max-width: 1100px) {
      margin-top: 10vh;
      p{
        width: 500px;
      }

      .pictures{
        .pic{
          width: 220px;
          height: 220px;
        }
      }

      .best{
        flex-direction: column-reverse;
        justify-content: center;
        margin-top: 0vh;

        .pic-best{
          width: 100%;
          height: 200px;
          border-radius: 0;
          background: $grey;
        }

        .text-best{
          align-self: center;
          height: 100%;
          
          h1{
            font-size: 2.5rem;
          }
          
          .follow{
            left: 0%;
            top: 100%;
            width: 100%;

            .follow-square{
              width: 233px;
              height: 70px;
            }
          }
        }
      }
    }

    //! Flex para celulares
    @media (max-width: 769px) {
      width: 100%;
      margin-top: 20vh;

      text-align: center;
      h1{
        font-size: 2rem;
        width: 80%;
      }

      p{
        width: 80%;
        text-align: justify;
      }

      .pictures{
        .pic{
          width: 40%;
          height: 200px;

          &:nth-child(3){
            display: none;
          }
        }
      }

      .best{
        flex-direction: column-reverse;
        margin-top: 0vh;

        .pic-best{
          width: 80%;
          height: 200px;
          border-radius: 0;
          background: $grey;
        }

        .text-best{
          @include center();
          flex-direction: column;
          height: 80%;
          width: 100%;
          
          h1{
            font-size: 1.8rem;
          }

          p{
            width: 80%;
          }
          
          .follow{
            left: 10%;
            top: 100%;
            width: 80%;
            height: 70px;

            .follow-square{
              width: 80%;
              height: 70px;

              .follow-square-text{
                @include center();
                flex-direction: column;
                
                p{
                  text-align: center;
                  font-size: 1rem;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
