@import "standard.scss";
@import "navbar.scss";


body{
    width: 100vw;
    overflow-x: hidden;
    @media (max-width: 1165px){
        width: 100vw;
        max-width: 100vw;
        overflow-x: hidden;
    }
    
}

#shadow{
    background-color: rgba(0, 0, 0, 0.658);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 7777;
    display: none;
}

#shadow.active{
    display: block;
}

main{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#container-home{
    display: flex;
    justify-content: center;
    padding-inline: 20px ;
    height: 80vh;

    .container-text-home{
        @include center();
        width: 50%;
        .text-home{
            @include center();
            flex-direction: column;
            gap: 20px;

            h1{
                font-size: 3.5rem;
                font-weight: 600;
                width: 60%;
                font-family: $font1;
            }

            p{
                font-size: 1.2rem;
                font-weight: 400;
                width: 60%;
            }

            button{
                @include blackButton();
                align-self: flex-start;
            }
        }
    }

    .container-img-home{
        @include center();
        width: 50%;
        padding: 10px 0;

        .img-home{
            background: $dark-grey;
            @include center();
            border-radius: 5px 5px 5px 25% ;
            width: 80%;
            height: 55%;


            img{
                width: 100%;
                height: 100%;
                max-width: 400px;
                max-height: 400px;
                //? quando for colocar a imagem no centro da div, remover o max e ativar o border-radius
                // border-radius: 5px 5px 5px 25% ; 
            }
        }
    }

    //! Responsividade para tablets
    @media (min-width: 700px) and (max-width: 1165px){
        flex-direction: column;
        
        .container-text-home{
            width: 100%;
            height: 50%;
            margin-top: 20px;
            .text-home{
                h1{
                    width: 70%;
                }

                p{
                    width: 70%;
                }

                button{
                    margin-left: 15%;
                }
            }
        }

        .container-img-home{
            width: 100%;
            height: 48%;

            .img-home{
                border-radius: 5px;
                width: 80%;
                height: 85%;
    
                img{
                    width: 100%;
                    height: 100%;
                    max-width: 400px;
                    max-height: 400px;
                    //? quando for colocar a imagem no centro da div, remover o max e ativar o border-radius
                    // border-radius: 5px;
                }
            }
        }
    }

    //! Responsividade para smatphones
    @media (max-width: 700px){
        flex-direction: column;
        flex-direction: column;
        
        .container-text-home{
            width: 100%;
            height: 50%;
            .text-home{
                h1{
                    font-size: 2rem;
                    width: 100%;
                }

                p{
                    font-size: 1rem;
                    width: 100%;
                }

                button{
                    margin-left: 0%;
                }
            }
        }

        .container-img-home{
            width: 100%;
            height: 50%;

            .img-home{
                border-radius: 5px;
                width: 100%;
                height: 85%;
    
                img{
                    width: 100%;
                    height: 100%;
                    max-width: 400px;
                    max-height: 400px;
                    //? quando for colocar a imagem no centro da div, remover o max e ativar o border-radius
                    // border-radius: 5px;
                }
            }
        }
    }
}

#container-collection{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
    padding-inline: 20px ;
    padding-bottom: 70px;
    background: $white;

    .container-text-collection{
        @include center();
        flex-direction: column;
        gap: 20px;
        height: 50%;
        h1{
            font-size: 3rem;
            font-weight: 600;
            font-family: $font1;
        }

        p{
            font-size: 1.2rem;
        }

        .porjects{
            @include center();
            gap: 20px;

            .project{
                background: $dark-grey;
                width: 25%;
                height: 80%;
                position: relative;

                img{
                    width: 100%;
                    height: 100%;

                }

                button{
                    @include whiteButton();
                }
            }
        }

        //! Responsividade para tablets
        @media (min-width: 700px) and (max-width: 1165px){

            p{
                text-align: center;
                font-size: 1rem;
            }   
        }

        //! Responsividade para smatphones
        @media (max-width: 700px){
            .porjects{

                .project{
                    width: 50%;

                    &:nth-child(3){
                        display: none;
                    }
    
                    button{
                        top: 85%;
                        padding: 3% 20%;
                    }
                }
            }
        }

        //! Responsividade para smatphones pequenos
        @media (max-width: 480px){
            height: 50%;

            h1{
                font-size: 2.4rem;
            }

            p{
                width: 100%;
                font-size: 1rem;
            }

            .porjects{

                .project{
                    width: 50%;

                    &:nth-child(3){
                        display: none;
                    }
    
                    button{
                        top: 85%;
                        padding: 3% 20%;
                    }
                }
            }
        }
    }

    .container-collection-second{
        @include center();
        align-items: flex-start;
        gap: 20px;
        height: 50%;

        h1{
            font-size: 3.5rem;
            font-weight: 600;
            font-family: $font1;
        }

        p{
            width: 90%;
            font-size: 1.1rem;
        }

        .img-collection{
            position: relative;
            @include center();
            background: $dark-grey;
            width: 30%;
            height: 80%;
            border-radius: 20% 5px 5px 5px;

            img{
                width: 100%;
                height: 100%;
                border-radius: 20% 5px 5px 5px;
            }
        }

        .text-collection{
            width: 40%;
            height: 70%;
        }

        //! Responsividade para tablets
        @media (min-width: 700px) and (max-width: 1165px){
            height: 50vh;
            align-items: flex-start;
            h1{
                font-size: 2.4rem;
                font-weight: 600;
                font-family: $font1;
            }

            p{
                width: 90%;
                font-size: 1.1rem;
            }

            .img-collection{
                @include center();
                background: $dark-grey;
                width: 40%;
                height: 80%;
                border-radius: 20% 5px 5px 5px;
    
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 20% 5px 5px 5px;
                }
            }

            .text-collection{
                width: 40%;
                height: 60%;
            }
        }

        //! Responsividade para smatphones
        @media (min-width: 480px) and (max-width: 700px){
            flex-direction: column-reverse;
            align-items: center;

            h1{
                text-align: center;
                font-size: 2rem;
                width: 100%;
            }

            p{
                width: 100%;
                text-align: center;
                padding-inline: 20px;
            }

            .img-collection{
                flex-direction: column;
                width: 90%;
                height: 60%;
                border-radius: 5px;
    
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 20% 5px 5px 5px;
                }


            }

            .text-collection{
                width: 100%;
            }
        }

        //! Responsividade para smatphones pequenos
        @media (max-width: 480px){
            flex-direction: column-reverse;
            height: 50%;

            h1{
                text-align: center;
                font-size: 2rem;
                width: 100%;
                margin-bottom: 20px;
            }

            p{
                width: 100%;
                padding-inline: 0px;
            }

            .img-collection{
                flex-direction: column;
                width: 100%;
                height: 50%;
                border-radius: 5px;
    
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 20% 5px 5px 5px;
                }


            }

            .text-collection{
                width: 100%;
            }
        }
    }

    .follow{
        display: flex;
        position: absolute;
        top: 90%;
        left: 90%;
        background-color: $darker-grey;
        height: 22%;
        width: 90%;

        .square{
            @include center();  
            flex-direction: column;
            width: 100%;

            p{
                text-align: center;
            }
        }

        //! Responsividade para smatphones
        @media (max-width: 700px){
            width: 100%;
            position: static;

            .square{

                p{
                    font-size: 1rem;
                }
            }
        }
    }

}

#container-product{
    @include center();
    flex-direction: row;
    padding: 50px 0px;
    margin: 50px 0;
    
    .product-description-container{
        @include center();
        flex-direction: column;
        width: 35%;
        height: 90%;

        .description-text{

            @include center();
            flex-direction: column;
            gap: 20px;
            width: 100%;
            height: 500px;

            h1{
                font-size: 3rem;
                font-weight: 600;
                font-family: $font1;
                width: 80%;
                text-align: left;
            }

            p{
                font-size: 1.2rem;
                font-weight: 400;
                width: 80%;
            }

            button{
                @include trasnButton();
                color: $darker-grey;
                align-self: flex-start;
                margin-left: 10%;
            
            }
        }

        //! Responsividade para tablets
        @media (min-width: 700px) and (max-width: 1165px){
            width: 100%;

            
            .description-text{
                height: 350px;
            }
        }

        //! Responsividade para smatphones
        @media (max-width: 700px){
            width: 100%;

            .description-text{
                height: 400px;
                h1{
                    padding: 0;
                    font-size: 2rem;
                }
            }
        }
    }

    .product-imgs-container{
        @include center();
        width: 65%;
        min-width: 350px;
        height: 10%;

        .product-img-cards{
            @include center();
            flex-direction: column;
            height: 500px;
            width: 100%;
    
            .container-cards{
                height: 90%;
                width: 90%;
                position: relative;
                overflow: hidden;
                
                .wrapper-cards{
                    transition: all 0.5s ease-in-out;

                    
                    @include center();
                    gap: 20px;
                    height: 100%;
                    position: absolute;
                    top: 0%;
                    left: 0;

                    .card{
                        width: 100%;
                        min-width: 320px;
                        // max-width: 320px;
                        height: 90%;
                        transition: all 0.5s ease-in-out;

                        .card-img{
                            @include center();
                            width: 100%;
                            height: 80%;
                            background: $dark-grey;

                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .card-text{
                            padding: 20px;
                            background: $white;
                            height: 20%;
                            width: 100%;
                        }
                    }
                }
            }

            input[type="radio"]{
                margin: 0 10px;
                transform: scale(1);
                border-radius: 50%;
                width: 20px; 
                height: 20px;
                border: 3px solid $darker-grey; 
                appearance: none;
                cursor: pointer;

                &:checked::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    background-color: $lighter-grey; 
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }

    .products-img-container-mobile{
        display: none;
    }

    //! Responsividade para tablets
    @media(max-width: 1165px){
        flex-direction: column;
    }

    //! Responsividade para smatphones
    @media (max-width: 700px){
        padding: 0;

        .product-imgs-container{
            display: none;
        }

        .products-img-container-mobile{
            display: flex;
            width: 100%;
            padding: 50px;

            .container-img-mobile{
                width: 100%;
                height: 100%;

                .img-mobile{
                    height: 100px;
                    overflow: hidden;
                    transition: all 0.5s ease-in-out;
                    filter: saturate(0);

                    &::before{
                        content: '\002B9E';
                        font-size: 1rem;
                        position: absolute;
                        top: 0;
                        left: 0;
                        padding: 10px 20px;
                        width: 100%;
                        height: 100%;
                        transition: all 0.5s ease-in-out;
                    }

                    &:hover::before{
                        content: '\002B9F';
                        transition: all 0.5s ease-in-out;
                    }
        
                    &:hover{
                        transition: all 0.5s ease-in-out;
                        height: 300px;
                        filter: saturate(1);
                    }

                    img{
                        width: 100%;
                        background-color: $darker-grey;
                    }
                }
            }
        }
    }

        //! Responsividade para smatphones
        @media (max-width: 400px){
            padding: 0;
    
            .product-imgs-container{
                display: none;
            }
    
            .products-img-container-mobile{
                padding: 10px;

            }
        }
}

#our-product{
    @include center();
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    border: 2px solid red;
    text-align: center;
    width: 100%;
    background: $white;
    
    h1{
        font-size: 3rem;
        font-weight: 600;
        font-family: $font1;
    }

    .container-our{
        @include center();
        flex-direction: column;
        gap: 20px;
   

        .container-products{
            @include center();
            flex-wrap: wrap;
            gap: 30px;
            width: 90%;
            
            height: 100%;
            
            
            .product{
                @include center();
                flex-direction: column;
                justify-content: space-between;
                background: $dark-grey;
                width: 250px;
                height: 350px;

                .product-text{
                    @include center();
                    flex-direction: column;
                    gap: 20px;
                    background-color: $white;
                    padding: 20px;
                    width: 100%;
                    height: 30%;
                }

                img{
                    width: 100%;
                    height: 70%;
                }
            }
        }
    }

    //! Responsividade para smatphones
    @media (max-width: 700px){
        padding: 100px;
        .container-our{
            
            .container-products{

                .product{
                    width: 200px;
                    height: 300px;
                }
            }
        }
    }
    
}

footer{
    @include center();
    flex-direction: column;
    background-color: rgb(65, 62, 62);
    background-size: cover; 
    height: 100%;
    padding-top: 40px;

    .footer-redes{
        @include center();
        justify-content: space-between;
        padding-inline: 20px;
        width: 100%;

        i{
            font-size: 2.5rem;
            margin-inline-end: 20px;
            transition: all 0.5s ease-in-out;

            &:hover{
                color: $white;
                transition: all 0.5s ease-in-out;
            }
        }
    }

    .footer-list{
        @include center();
        width: 100%;
        padding: 10px 0px 50px 0px;

        table{
            width: 80%;

            thead tr th{
                padding-bottom: 20px;
                text-align: start;
                font-size: 1.2rem;
                color: $white;
            }

            tbody tr td{
                color: $lighter-grey;

            }
        }
    }

    //! Responsividade para smatphones
    @media (max-width: 700px){
        padding-top: 0;
        padding-inline: 50px;

        .footer-redes{
            padding: 50px 0;
        }
        .footer-list{
            display: none;
        }
    }

    @media (max-width: 500px){
        .footer-redes{
            flex-direction: column;
            gap: 20px;

            i{
                font-size: 2rem;
            }
        }
    }
}